/*.header {
  display: flex;
  background-color: #1b143d;
  padding: 5px;
  color: #e6e3f2;
  margin: -1em;
  display: flex;
  flex-flow: column;
}
.header > h1 {
  display: flex;
  justify-content: center;
}

.header > buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
*/
.header {
  background-color: #1b143d;
  padding: 5px;
  color: #e6e3f2;
  margin-bottom: 10px;
}
