<link rel="stylesheet" href="liste-container.css">

<liste-search (searchField)="search = $event">Loading...</liste-search>

<div class="listeElements">
  <div *ngFor="let ob of dataValues.Observations | filter:search" class="listeElement">
    <input type="checkbox" class="toggle-checkbutton" id={{ob.Id}} />
    <label htmlFor={{ob.Id}}>{{ob.Name}}</label>
    <div class="notes">
      <b>Vitenskapelig navn:</b> {{ob.ScientificName}}
      <br />
      <b>Notater:</b> {{ob.Notes}}
      <br />
      <b>Koordinater:</b> {{ob.Latitude}}, {{ob.Longitude}}
    </div>
  </div>
</div>
