.header {
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.dark .header {
  background: #333;
}

.header .title {
  flex: 1;
  font-size: 1em;
  margin: 0 10px;
}
