.buttons {
  background-color: transparent;
  border: 0px;
}

a:link .buttons, a:hover .buttons, a:visited .buttons{
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
}

a.active{
  border-bottom: solid 2px #FFF;
  margin:10px;
}

a:hover .buttons{
  color: grey;
  cursor: pointer;
}
