.app {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
}

.dark .app {
  background-color: #666;
}

.content {
  flex: 1;
  display: flex;
  min-height: calc(100vh - 46px);
}

.module {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  margin: 16px;
  box-sizing: border-box;
  padding: 0 32px;
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
input:not([type]) {
  border: none;
  background-color: rgba(0, 0, 0, .1);
  font-size: 1em;
  border-radius: 3px;
  padding: 6px;
  outline: none;
  margin: .75em 0;
  transition: background-color .2s ease-in-out;
}

select {
  cursor: pointer;
}

select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input:not([type]):focus {
  background-color: rgba(0, 0, 0, .2);
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="text"]::-moz-placeholder,
input[type="text"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, .5);
}

option {
  font-size: .8em;
}