#flexy{
  display:flex;
  flex-wrap: wrap;
}

#contentbox{
  vertical-align: top;
  flex:3;
  min-width: 500px;
}


#sidebar{
  flex:1;
  background-color: #f7f7f7;
  vertical-align: top;
  margin-top:-10px;
}
