.listeElement {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  margin: 4px;
}

.toggle-checkbutton {
  display: none;
}

.toggle-checkbutton + label {
  padding: 6px 8px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #eee;
  transition: width .2s ease-in-out;
  cursor: pointer;
}

.toggle-checkbutton + label:hover {
  background-color: #dee;
}

.toggle-checkbutton:checked + label {
  width: 100%;
}

.toggle-checkbutton + label + .notes {
  transition: width .2s ease-in-out;
  background-color: #ddd;
  display: none;
}

.toggle-checkbutton:checked + label + .notes {
  display: block;
  width: 100%;
}
