.registration-container {
    margin: auto;
    display: flex;
    width: 360px;
    max-width: calc(100% - 32px);
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
