.add-observation {
  background-color: #f2f2f2;
  width: 40%;
  margin-left:auto;
  margin-right:auto;
}

h3{
    background-color: #e8e8e8;
    width:100%;
}

.inputfelt{
  width: 60%;
  margin:1%;
  margin-top: 0%;
}
