.add-observation, .user-info, .my-observations {
  background-color: #f2f2f2;
  width: 70%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 1%;
  margin-bottom: 1%;
}

h3 {
    width:100%;
}

.add-observation {
  background-color: #efefef;
}

.inputfelt {
  width: 60%;
  margin:1%;
  margin-top: 0%;
}

#addbox {
  background-color: transparent;
}

.toggle-checkbutton:not(:checked) + label > .add-observation {
  display: none;
}
